{% load static %}
<!DOCTYPE html>
<html>

<!-- start css files -->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>MG4ERP</title>
    <link rel="stylesheet" href="{% static 'site_static/assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'site_static/assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="{% static 'site_static/assets/css/Card-Group1-Shadow.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="{% static 'site_static/assets/css/Pretty-Footer.css' %}">
    <link rel="stylesheet" href="{% static 'site_static/assets/css/Projects-Horizontal.css' %}">
    <link rel="stylesheet" href="{% static 'site_static/assets/css/Sidebar-Menu-1.css' %}">
    <link rel="stylesheet" href="{% static 'site_static/assets/css/Sidebar-Menu.css' %}">
    <link rel="stylesheet" href="{% static 'site_static/assets/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'site_static/assets/css/OcOrato---Login-form-1.css' %}">
    <link rel="stylesheet" href="{% static 'site_static/assets/css/OcOrato---Login-form.css' %}">
    <link rel="stylesheet" href="{% static 'site_static/assets/css/Registration-Form-with-Photo.css' %}">

</head>

<!-- End css files -->

<body>

        <!-- start My content -->


    {% block content %}




    {% endblock content %}

        <!-- End My content -->





    <!-- start Java script files -->

    <script src="{% static 'site_static/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'site_static/assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'site_static/assets/js/bs-animation.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
    <script src="{% static 'site_static/assets/js/Sidebar-Menu.js' %}"></script>

    <!-- End Java script files -->

</body>


</html>