{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include "mainnav.html" %}

<div class="container">
    
                     <section id="new-content">
                        <div class="row">
                            <div class="col-md-12">
                                <div>
                                    <h1>Sidebar <small>menu </small></h1>
                                    <div class="row projects">
                                        <div class="col-sm-6 item">
                                            <div class="row">
                                                <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid"
                                                            src="{% static 'site_static/assets/img/minibus.jpeg' %}"></a></div>
                                                <div class="col">
                                                    <h3 class="name">Project Name</h3>
                                                    <p class="description">Aenean tortor est, vulputate quis leo in,
                                                        vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 item">
                                            <div class="row">
                                                <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid"
                                                            src="{% static 'site_static/assets/img/minibus.jpeg' %}"></a></div>
                                                <div class="col">
                                                    <h3 class="name">Project Name</h3>
                                                    <p class="description">Aenean tortor est, vulputate quis leo in,
                                                        vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 item">
                                            <div class="row">
                                                <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid"
                                                            src="{% static 'site_static/assets/img/minibus.jpeg' %}"></a></div>
                                                <div class="col">
                                                    <h3 class="name">Project Name</h3>
                                                    <p class="description">Aenean tortor est, vulputate quis leo in,
                                                        vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 item">
                                            <div class="row">
                                                <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid"
                                                            src="{% static 'site_static/assets/img/minibus.jpeg' %}"></a></div>
                                                <div class="col">
                                                    <h3 class="name">Project Name</h3>
                                                    <p class="description">Aenean tortor est, vulputate quis leo in,
                                                        vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 item">
                                            <div class="row">
                                                <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid"
                                                            src="{% static 'site_static/assets/img/minibus.jpeg' %}"></a></div>
                                                <div class="col">
                                                    <h3 class="name">Project Name</h3>
                                                    <p class="description">Aenean tortor est, vulputate quis leo in,
                                                        vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 item">
                                            <div class="row">
                                                <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid"
                                                            src="{% static 'site_static/assets/img/minibus.jpeg' %}"></a></div>
                                                <div class="col">
                                                    <h3 class="name">Project Name</h3>
                                                    <p class="description">Aenean tortor est, vulputate quis leo in,
                                                        vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="card mb-4 box-shadow rounded-0"><img
                                                    class="card-img-top w-100 d-block rounded-0"
                                                    src="{% static 'site_static/assets/img/minibus.jpeg' %}">
                                                <div class="card-body">
                                                    <h4 class="card-title">Title</h4>
                                                    <h6 class="text-muted card-subtitle mb-2">Subtitle</h6>
                                                    <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id
                                                        elit. Cras justo odio, dapibus ac facilisis in, egestas eget qu
                                                        ghgjhghg glo.</p><a class="card-link" href="#">Link</a><a
                                                        class="card-link" href="#">Link</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="card mb-4 box-shadow rounded-0"><img
                                                    class="card-img-top w-100 d-block rounded-0"
                                                    src="{% static 'site_static/assets/img/minibus.jpeg' %}">
                                                <div class="card-body">
                                                    <h4 class="card-title">Title</h4>
                                                    <h6 class="text-muted card-subtitle mb-2">Subtitle</h6>
                                                    <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id
                                                        elit. Cras justo odio, dapibus ac facilisis in, egestas eget qu
                                                        ghgjhghg glo.</p><a class="card-link" href="#">Link</a><a
                                                        class="card-link" href="#">Link</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="card mb-4 box-shadow rounded-0"><img
                                                    class="card-img-top w-100 d-block rounded-0"
                                                    src="{% static 'site_static/assets/img/minibus.jpeg' %}">
                                                <div class="card-body">
                                                    <h4 class="card-title">Title</h4>
                                                    <h6 class="text-muted card-subtitle mb-2">Subtitle</h6>
                                                    <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id
                                                        elit. Cras justo odio, dapibus ac facilisis in, egestas eget qu
                                                        ghgjhghg glo.</p><a class="card-link" href="#">Link</a><a
                                                        class="card-link" href="#">Link</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="card mb-4 box-shadow rounded-0">
                                                <div class="card-body">
                                                    <h4 class="card-title">Title</h4><button
                                                        class="btn btn-primary btn-block" type="button">Button</button>
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th>Column 1</th>
                                                                    <th>Column 2</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>Cell 1</td>
                                                                    <td>Cell 2</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Cell 3</td>
                                                                    <td>Cell 4</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-xl-8">
                                            <div class="card mb-4 box-shadow rounded-0">
                                                <div class="card-body">
                                                    <h4 class="card-title">Title</h4><button
                                                        class="btn btn-primary btn-block" type="button">Button</button>
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th>Column 1</th>
                                                                    <th>Column 2</th>
                                                                    <th>Column 3</th>
                                                                    <th>Column 4</th>
                                                                    <th>Column 5</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>Cell 1</td>
                                                                    <td>Cell 2</td>
                                                                    <td>Cell 3</td>
                                                                    <td>Cell 4</td>
                                                                    <td>Cell 5</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Cell 3</td>
                                                                    <td>Cell 4</td>
                                                                    <td>Cell 3</td>
                                                                    <td>Cell 4</td>
                                                                    <td>Cell 5</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

</div>

{% include "footer.html" %}

{% endblock content %}