{% load static %}
<nav class="navbar navbar-light navbar-expand-md sticky-top border rounded-circle shadow">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <h3 class="text-center" data-aos="fade-right" data-aos-duration="700" id="title"><img
                    src="{% static 'site_static/assets/img/logo.png' %}" class="logo-img">&nbsp;MG4ERP</h3>
        </a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle
                navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav mx-auto" data-aos="fade-down" data-aos-duration="700" data-aos-delay="50">
                <li class="nav-item" role="presentation"><a class="nav-link" href="#">Blog</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="#footer">Contact us</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="#">Third Item</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="#">Third Item</a></li>
            </ul>
            <ul class="nav navbar-nav" data-aos="fade-left" data-aos-duration="700" data-aos-delay="100">
                <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'account:home' %}">Dashboard</a></li>
                
                {% if user.is_authenticated %}
                <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'account:logout' %}">Logout</a></li>
                <li class="nav-item" role="presentation"><span class="nav-link"> Hello : {{request.user}}</span></li>
                {% else %}
                <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'account:register' %}">Register</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'account:login' %}">Login</a></li>
                {% endif %}
                    
            </ul>
        </div>
    </div>
</nav>